/* Mixins -------------------- */
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Courgette|Kaushan+Script");
html {
  transition: 400ms;
  scroll-behavior: smooth; }

body {
  margin: 0;
  background-color: rgba(221, 214, 214, 0.61); }

h1 {
  text-align: center;
  font-size: 6em;
  margin: 0;
  color: ivory;
  text-shadow: 2px 2px black;
  font-family: 'Amatic SC', cursive; }

h2 {
  padding: 1em;
  font-family: 'Courgette', cursive; }

h3 {
  text-align: center;
  font-size: 2em;
  color: ivory;
  text-shadow: 2px 2px black;
  text-decoration: underline;
  padding-top: 16%;
  padding-bottom: 1%;
  margin: 0;
  font-family: 'Amatic SC', cursive; }

h4 {
  text-align: center;
  font-size: 2em;
  font-family: 'Courgette', cursive; }

h5 {
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding-top: 1.5em;
  font-family: 'Courgette', cursive; }

p {
  font-family: 'Courgette', cursive; }

a {
  text-decoration: none;
  font-family: 'Courgette', cursive; }

input {
  height: 5vh;
  border-radius: 2%;
  margin-bottom: 2em;
  margin-left: 2vw;
  width: 25vw;
  font-family: 'Courgette', cursive; }

select {
  height: 6vh;
  border-radius: 2%;
  padding-left: 20px;
  margin-bottom: 5vh;
  margin-left: 2vw;
  width: 25.5vw;
  font-family: 'Courgette', cursive; }

textarea {
  margin-left: 2vw;
  font-family: 'Courgette', cursive; }

button {
  height: 5vh;
  border-radius: 10%;
  margin: 2vh 0vh 0vh 26vh;
  font-family: 'Courgette', cursive;
  transition: 400ms; }

button:hover {
  background-color: rgba(184, 172, 172, 0.555);
  transition: 400ms; }

i {
  color: white;
  font-size: 2em;
  margin-top: 3em;
  text-shadow: 2px 2px black;
  transition: 150ms; }

i:hover {
  color: #8c8097;
  transition: 150ms; }

footer {
  background-color: rgba(209, 189, 189, 0.747); }

.landscape {
  height: 100vh;
  width: 100%;
  background-image: url(../images/clouds-coast-landscape-29049.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.arrow-down {
  text-align: center;
  margin-top: 4rem;
  animation: move 1s ease infinite; }

@keyframes move {
  0% {
    margin-top: 2rem; }
  50% {
    margin-top: 3rem; }
  100% {
    margin-top: 2rem; } }
.subhead {
  background-color: rgba(221, 214, 214, 0.61);
  margin: 0;
  padding-top: 1em; }

.subtxt {
  font-size: 1.75em;
  text-align: center;
  padding: 1em 3em 3em 3em;
  margin: 0em; }

.subsub {
  background-image: url(../images/bodybg.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 75vh;
  width: 100%;
  margin: 0;
  padding: 0; }

.nav {
  position: fixed;
  background-color: rgba(221, 214, 214, 0.61);
  height: 8vh;
  width: 100%; }
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right; }
  .nav li {
    display: inline; }
  .nav a {
    text-decoration: none;
    font-size: 1.7em;
    padding: 0em .5em .5em .3em;
    color: #0f0909;
    vertical-align: bottom; }
    .nav a:hover {
      background-color: rgba(146, 141, 141, 0.61);
      box-shadow: 0px 0.5em 1em 0px rgba(0, 0, 0, 0.2); }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(221, 214, 214, 0.61);
  box-shadow: 0em 0.5em 1em 0em rgba(0, 0, 0, 0.2); }
  .dropdown-content a {
    color: black;
    padding: .75em 1em;
    text-decoration: none;
    display: block; }
  .dropdown-content a:hover {
    background-color: rgba(146, 141, 141, 0.61); }

.dropdown:hover .dropdown-content {
  display: block;
  padding: 0em 2.6em .5em 0em; }

.headings {
  color: #3b3b3b;
  text-shadow: none; }

.img1 {
  width: 100%;
  height: auto;
  padding-top: 1em;
  border-radius: 2%; }

.img2 {
  width: 100%;
  height: auto;
  padding-top: 1em;
  border-radius: 2%; }

.img3 {
  width: 100%;
  height: auto;
  padding-top: 1em;
  border-radius: 2%; }

.img4 {
  width: 100%;
  height: auto;
  padding-top: 1em;
  border-radius: 2%; }

.img5 {
  width: 100%;
  height: auto;
  padding-top: 1em;
  border-radius: 2%; }

.img6 {
  width: 100%;
  height: auto;
  padding-top: 1em;
  border-radius: 2%; }

#contactbg {
  background-image: url(../images/contactbg.jpg);
  background-attachment: fixed;
  background-size: cover; }

.query {
  padding-left: 3%;
  text-align: left;
  padding-top: 15vh; }

.contact-text {
  padding-left: 3%;
  color: antiquewhite;
  text-shadow: 2px 2px black; }

.con-img {
  width: 100%;
  height: auto; }

.footcontainer {
  background-color: rgba(209, 189, 189, 0.747);
  padding-top: 0; }

.scl {
  color: #0E1428;
  transition: 400ms;
  font-size: 1em; }

.scl:hover {
  color: #e2d4d4;
  transition: 400ms; }

#con {
  color: #1d0e0e;
  margin-top: 2em; }

#cp {
  color: black;
  font-size: 1em;
  text-shadow: none;
  margin: 0;
  padding: 0; }

#uparrow {
  float: right;
  padding-right: 4%; }

.foot {
  margin-top: 3em; }

#activities-gallery {
  padding: 1em; }

.bgcolgal {
  background-color: rgba(177, 166, 166, 0.685); }

/* Media Queries -------------------- */
.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 3fr 3fr 3fr;
  padding-left: 2%; }

.foot {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(1fr 1fr 1fr);
  grid-template-areas: "left middle right"; }

.socials {
  grid-area: middle;
  padding-left: 25%;
  padding-bottom: 1em; }

.copyright {
  grid-area: left;
  margin-top: 6em;
  padding-left: 5%; }

.uparrow {
  grid-area: right;
  float: right; }

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); }

img {
  width: 100%;
  height: auto;
  object-fit: cover; }

#mason3 {
  grid-column: span 2;
  grid-row: span 2; }

#mason15 {
  grid-column: span 2;
  grid-row: span 2; }

#mason17 {
  grid-column: span 1;
  grid-row: span 2; }

/*# sourceMappingURL=main.css.map */
