html {
    transition: 400ms;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}



h1 {
    text-align: center;
    font-size: 4em;
    margin: 0px;
    color: ivory;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

h2 {
    padding: 1em;
}

h3 {
    text-align: center;
    font-size: 1.7em;
    color: ivory;
    text-shadow: 2px 2px rgb(0, 0, 0);
    text-decoration: underline;
    padding-top: 20%;
    margin: 0;
}

h4 {
    text-align: center;
    font-size: 2em;
}

p {
    padding: 1em;
}

a {
    text-decoration: none;
}

input {
    height: 40px;
    border-radius: 2%;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    width: 27em;
}

select {
    height: 40px;
    border-radius: 2%;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    width: 29em;
}

textarea {
    margin-left: 20px;
}

button {
    height: 40px;
    border-radius: 2%;
    padding-left: 20px;
    margin: 15px 0px 0px 170px;
}

form {
    background-color: #cfbcbc8c;
    margin: 0px 420px;
    padding: 28px 0px;
    border-radius: 2%;
    margin-bottom: 30px;

}

