html {
    transition: 400ms;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgba(221, 214, 214, 0.61);
}

// base text styles

h1 {
    text-align: center;
    font-size: 6em;
    margin: 0;
    color: ivory;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-family: 'Amatic SC', cursive;
}

h2 {
    padding: 1em;
    font-family: 'Courgette', cursive;
}

h3 {
    text-align: center;
    font-size: 2em;
    color: ivory;
    text-shadow: 2px 2px rgb(0, 0, 0);
    text-decoration: underline;
    padding-top: 16%;
    padding-bottom: 1%;
    margin: 0;
    font-family: 'Amatic SC', cursive; 
}

h4 {
    text-align: center;
    font-size: 2em;
    font-family: 'Courgette', cursive;
}

h5 {
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding-top: 1.5em;
    font-family: 'Courgette', cursive;
}


p {
    font-family: 'Courgette', cursive;
}

a {
    text-decoration: none;
    font-family: 'Courgette', cursive;
}

// contact form styles

input {
    height: 5vh;
    margin-bottom: 2em;
    margin-left: 2vw;
    width: 25vw;
    font-family: 'Courgette', cursive;
    background-color: rgba(255, 255, 255, 0.342);
    border: none black;
    border-bottom: 1px;
    color: white;
}

select {
    height: 6vh;
    border-radius: 2%;
    padding-left: 20px;
    margin-bottom: 5vh;
    margin-left: 2vw;
    width: 25.5vw;
    background-color: rgba(255, 255, 255, 0.342);
    color: white;
    font-family: 'Courgette', cursive;
}


option {
    background-color: rgba(0, 0, 0, 0.356);
    color: none;
}

textarea {
    margin-left: 2vw;
    font-family: 'Courgette', cursive;
    background-color: rgba(255, 255, 255, 0.342);
    color: rgb(255, 255, 255);
    height: 100%;
    width: auto;
}

// buttons for various sections

button {
    border-radius: 10%;
    margin: 2vh 0vh 0vh 25%;
    font-family: 'Courgette', cursive;
    transition: 400ms;
    padding: .5em;
}

button:hover {
    background-color: rgba(184, 172, 172, 0.555);
    transition: 400ms;
}

// icons for social media

i {
    color: white;
    font-size: 2em;
    transition: 150ms;
    padding-top: .5em;
}

i:hover {
    color: rgb(140, 128, 151);
    transition: 150ms;
}


footer {
    background-color: rgba(209, 189, 189, 0.747);
}
