@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700|PT+Serif:700');

// background image styles

.landscape {
    height: 100vh;
    width: 100%;
    background-image: url(../images/clouds-coast-landscape-29049.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

// navbar styles

.nav {
    
    position: fixed;
    background-color: rgba(221, 214, 214, 0.61);
    height: 8vh;
    width: 98.75%;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right;
    }

    li {
        display: inline;
    }

    a {
        text-decoration: none;
        font-size: 1.7em;
        padding: 0em .5em .5em .3em;
        color: rgb(15, 9, 9);
        vertical-align: bottom;

        &:hover {
            background-color: rgba(146, 141, 141, 0.61);
            box-shadow: 0px .5em 1em 0px rgba(0,0,0,0.2);
        }
    }
}

// dropdown menu activities
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(221, 214, 214, 0.61);
        box-shadow: 0em .5em 1em 0em rgba(0,0,0,0.2);
      


    a {
        color: black;
        padding: .75em 1em;
        text-decoration: none;
        display: block;
      }

    a:hover {
         background-color: rgba(146, 141, 141, 0.61);
    }


}
  
.dropdown:hover .dropdown-content {
    display: block;
    padding: 0em 2.6em .5em 0em;
}

// aside content for hike section

.img1 {
    width: 25em;
    padding-top: 1em;
    border-radius: 2%;
}

.img2 {
    width: 25em;
    padding-top: 1em;
    border-radius: 2%;
}

.img3 {
    width: 25em;
    padding-top: 1em;
    border-radius: 2%;
}

.img4 {
    width: 25em;
    padding-top: 1em;
    border-radius: 2%;
}







