// imported fonts

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Courgette|Kaushan+Script');

// header bg image styles

.landscape {
    height: 100vh;
    width: 100%;
    background-image: url(../images/clouds-coast-landscape-29049.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

// bouncing arrow

.arrow-down {
    text-align: center;
    animation:  move 1s ease infinite;
  }

  @keyframes move {
      0%   {margin-top: 6rem;}
      50%  {margin-top: 7rem;}
      100% {margin-top: 6rem;}
  }
  
// intro image under the header

.subhead {
    background-color: rgba(221, 214, 214, 0.61);
    margin: 0;
    padding-top: 1em;
}

.subtxt {
    font-size: 1.75em;
    text-align: center;
    padding: 1em 3em 3em 3em;
    margin: 0em;
}

// under the header text 

.sub-parallax {
    background-image: url(../images/bodybg.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 75vh;
    width: 100%;
    margin: 0;
    padding: 0;
}


// navbar and dropdown

.homepage {
    background-color: rgba(146, 141, 141, 0.699);
}

.gallery-nav {
    background-color: rgba(146, 141, 141, 0.699);
}

.contact-nav {
    background-color: rgba(146, 141, 141, 0.699);
}

.nav {
    position: fixed;
    background-color: rgb(221, 214, 214);
    height: 3rem;
    width: 100%;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right;
    }

    li {
        display: inline;
    }

    a {
        text-decoration: none;
        font-size: 1.7em;
        padding: 0em .5em .5em .3em;
        color: rgb(15, 9, 9);
        vertical-align: bottom;

        &:hover {
            background-color: rgba(146, 141, 141, 0.699);
            box-shadow: 0px .5em 1em 0px rgba(0,0,0,0.2);
        }
    }
}

// dropdown menu styles

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(221, 214, 214, 0.61);
        box-shadow: 0em .5em 1em 0em rgba(0,0,0,0.2);
      


    a {
        color: black;
        padding: .75em 1em;
        text-decoration: none;
        display: block;
      }

    a:hover {
         background-color: rgba(146, 141, 141, 0.61);
    }


}
  
.dropdown:hover .dropdown-content {
    display: block;
    padding: 0em 2.6em .5em 0em;
}

// image and content for each activity 


.headings {
    color: rgb(59, 59, 59);
    text-shadow: none;
}

.img1 {
    width: 100%;
    height: auto;
    padding-top: 1em;
    border-radius: 2%;
    cursor: cell;
}

.img2 {
    width: 100%;
    height: auto;
    padding-top: 1em;
    border-radius: 2%;
    cursor: cell;
}

.img3 {
    width: 100%;
    height: auto;
    padding-top: 1em;
    border-radius: 2%;
    cursor: cell;
}

.img4 {
    width: 100%;
    height: auto;
    padding-top: 1em;
    border-radius: 2%;
    cursor: cell;
}

.img5 {
    width: 100%;
    height: auto;
    padding-top: 1em;
    border-radius: 2%;
    cursor: cell;
}

.img6 {
    width: 100%;
    height: auto;
    padding-top: 1em;
    border-radius: 2%;
    cursor: cell;
}

.activity-text {
    height: 4em;
}

.activity-text1 {
    height: 4em;
}

.activity-heading {
    text-shadow: none;
    color: #3b3b3b;
    padding-top: 45%;
}

// contact form styles


#contactbg {
    background-image: url(../images/contactbg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.query {
    padding-left: 3%;
    text-align: left;
    padding-top: 15vh;
}

.contact-text {
    padding-left: 3%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
}

.con-img {
    width: 100%;
    height: auto;
}


// footer and social media styles


.footcontainer {
    background-color: rgba(209, 189, 189, 0.747);
    padding-top: 0;
}


.scl {
    color: #0E1428;
    transition: 400ms;
    font-size: 1em;
    margin-right: .5em;
}

.scl:hover {
    color: rgb(226, 212, 212);
    transition: 400ms;
}

#con {
    color: rgb(29, 14, 14);
    margin-top: 2em;
}

#cp {
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-shadow: none;
    margin: 0;
    padding: 0;
}

#uparrow {
    float: right;
    padding-right: 4%;
}

.foot {
    margin-top: 3em;
}

.foot-gallery {
    margin-top: 0;
}

.trd {
    color: white;
}

// activity gallery styles

#activities-gallery {
    padding: 1em;
}

.bgcolgal {
    background-color: rgba(177, 166, 166, 0.685);
}

.form {
    margin-left: 3em;
}

