@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700|PT+Serif:700');



.landscape {
    height: 100vh;
    width: 100%;
    background-image: url(../images/clouds-coast-landscape-29049.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

