// .container {
//     display: grid;
//     grid-gap: 20px;
//     grid-template-columns: 10fr 4fr;
//     grid-template-areas: 
//                             "header header"
//                             "primary-content secondary-content"
// }

// header { 
//     grid-area: header;
// }


.wrapper {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
                            "header header"
                            "hike asidehike"
                            "fish asidefish"
                            "hunt asidehunt"
                            "canoe asidecanoe"
                            "climb asideclimb"
                            "camp asidecamp"
                            "footer footer"
}

.landscape {
    grid-area: header;
}

.hike {
    grid-area: hike;
}

.asidehike {
    grid-area: asidehike;
}

.fish {
    grid-area: fish;
}

.asidefish {
    grid-area: asidefish;
}

.hunt {
    grid-area: hunt;
}

.asidehunt {
    grid-area: asidehunt;
}

.canoe {
    grid-area: canoe;
}

.asidecanoe {
    grid-area: asidecanoe;
}

.climb {
    grid-area: climb;
}

.asideclimb {
    grid-area: asideclimb;
}

.camp {
    grid-area: camp;
}

.asidecamp {
    grid-area: asidecamp;
}
