
// respsonsiveness for tablet; 

@media only screen and (max-width: 788px) {
    .activity-text {
        height: 6em;
    }
    .activity-text1 {
        height: 6.4em;
    }

    h1 {
        font-size: 4em;
    }

    .hero-heading {
        padding-top: 6em;
    }

    div.socials {
        padding-left: 0;
    }

    input {
        width: 50vw;
    }

    select {
        width: 50vw;
    }
 
    // grid for homepage

    .wrapper {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding-left: 1%;
        padding-right: 1%;
        grid-template-areas: 
                                "asidehike asidefish"
                                "asidehunt asidecanoe"
                                "asideclimb asidecamp"
    }

    .sub-parallax {
        height: 50vh;
    }

                             

}

@media only screen and (max-width: 485px) {

    // hero size

    .landscape {
        height: 80vh;
    }

    .dropbtn {
        display: none;
    }

    input {
        width: 80vw;
    }

    select {
        width: 80vw;
    }

    h1 {
        font-size: 3em;
    }

    .hero-heading {
        padding-top: 6em;
    }

        // grid for homepage

        .wrapper {
            display: block;
            grid-gap: 1em;
            padding-left: 1%;
            padding-right: 1%;
        }

        .subsub {
            height: 50vh;
        }

        // contact page grid

        .gallery {
            display: block;
            grid-template-columns: repeat(4, 1fr);
        }
}